<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro de usuario</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="" method="post">

        <input type="text" placeholder="Nome de Usuario" name="nome_user">
        <br><br>

        <input type="text" placeholder="Nome de Invocador" name="nome_inv">
        <br><br>

        <select name="elo" id="elo" >
            <option value="" selected disabled>Classificacao</option>
            <option value="Ferro">Ferro</option>
            <option value="Bronze">Bronze</option>
            <option value="Prata">Prata</option>
            <option value="Gold">Gold</option>
            <option value="Platina">Platina</option>
            <option value="Esmeralda">Esmeralda</option>
            <option value="Diamante">Diamante</option>
            <option value="Master">Master</option>
            <option value="Grand-Master">Grand-Master</option>
            <option value="Desafiante">Desafiante</option>
        </select>
        <br><br>

        <input type="password" name="password" id="password" placeholder="Senha">
        <br><br>

        <input type="submit" value="Cadastrar">

    </form>
</body>
</html>